<script src='/jquery.min.js'></script>
<script src='/date.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
<link rel="stylesheet" href="/client.css"/>
</head>
<body>
<b>Server: </b><%= server %>
<br/>
<% if(user) { %>
<b>User: </b> <label id="user"><%= user %></label> <a href="/logout" style='color:blue;text-decoration: underline'> Log out</a>
<% } %>


<div id="ask" class="bordered" style="display: none;">
    Name: <input type="text" id="name"/> <a href="#"><span class="join">Join!</span></a>
</div>
<div id="channel" class="bordered" style="display: none;">

    <div id="msgs">
        <h4>Server: <%= server %></h4>

        <ul>
            <li class="message" style="display: none">
                <span class="user"></span><span class="message"></span>
                <span class="time"></span>
            </li>
            <li class="control" style="display: none">
                <span class="user"></span>&nbsp;<span class="message"></span>
                <span class="time"></span>
            </li>
        </ul>
    </div>
    <div id="input">
        <form><input type="text" id="message"/></form>
    </div>
</div>

</body>
</html>